* {
    margin: 0;
    font-family: 'Roboto';
    font-size: 22px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.resto-name {
    font-size: 25px;
}

.header {
    background: #ECB365;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: auto;
}

.resto-logo {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    margin: 5px;
    padding: 1vh;
    margin-right: 30px;
}

.links button {
    background-color: #ECB365;
    padding: 3px;
    box-shadow: none;
    border-style: none;
    min-width: fit-content;
}

.links a {
    font-weight: 500;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

/*hero sect*/

.hero-section {
    display: flex;
    max-height: 500px;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px;
}

.hero-text {
    margin-right: 30px;
    flex-basis: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.hero-text .bolder {
    font-weight: bold;
    font-size: 38px;
}

.hero-text p {
    margin-top: 20px;
    font-size: 19px;
}

.order-button {
    padding: 13px;
    border-radius: 6%;
    box-shadow: none;
    border-style: none;
    margin-top: 20px;
    color: #ECB365;
    background-color: #ECB365;
}

.order-button a {
    color: black;
}

.hero-image img {
    border-radius: 10%;
    border: 5px solid #ECB365;
}

/*best menu sect*/

.best-menu {
    background: #D24545;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
}

.menu-image-text {
    margin: 0px 0 50px 0;
}

.best-menu-title {
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
}

.food-quotes {
    margin: 15px;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    font-style: italic;
}

.menu-gallery {
    display: flex;
    max-width: 240px;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.menu-box img {
    width: 180px;
    height: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5%;
    justify-content: center;
    border-radius: 10%;
    border: 5px solid #ECB365;
}

.menu-box p {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

/*chef menu*/

.the-chef {
    background: #E6BAA3;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
}

.chef-image-text {
    margin: 30px 0 10px 0;
}

.chef-title {
    font-weight: bolder;
    font-size: 38px;
    text-align: center;
}

.chef-quotes {
    margin: 15px;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    font-style: italic;
}

.chef-gallery {
    display: flex;
    max-width: 240px;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.chef-box img {
    margin-top: 20px;
    width: 190px;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5%;
    justify-content: center;
    border-radius: 10%;
    border: 5px solid #D24545;
}

.chef-box p {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

footer {
    background: #ECB365;
    color: black;
}

footer p {
    text-align: center;
    font-size: 19px;
    margin: 8px;
    font-weight: 700;
}
